body{
  margin: 0;
  background-color: #dbdbdb;
}

#navbar {
    position: fixed;
    width: 327px;
    height: 96%;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-radius: 16px;
    padding: 10px;
    margin-left: 10px;
    margin-top: 2px;
    background-color: #3b6978;
}

ul{
  margin-top: 0;
}

.nav-link{
  border-bottom: 2px;
    border-color: black;
    list-style-type: none;
    border-style: solid;
    margin-left: -40px;
    padding: 10px 30px;
    cursor: pointer;
}

.a-content{
  text-decoration: none;
  color: black;
  font-size: 26px;
}

#topic-head{
  list-style-type: none;
  font-size: 33px;
border-bottom: 1px;
  border-style: solid;
    padding: 10px 30px;
    margin-left: -40px;
}

#main-section {
    margin-left: 366px;
    padding: 39px;
    background-color: #af8baf;
    border-radius: 16px;
}
/* introduction */

#introduction,#c,#cpp,#java,#python,#js{
  padding: 30px;
  font-size: 0;
      border-radius: 8px;
        background-color: #f6acc8;
        margin-bottom: 50px;
}

#intro-head {
    font-size: 45px;
    font-weight: bold;
    background-color:#fa744f ;
    padding-left: 10px;
}

.intro-p {
    padding-left: 30px;
    font-size: 19px;
    font-weight: lighter;

}

#intro-ul{
    margin-left: 60px;
    background-color: #43d8c9;
}

.intro-li{
  font-size: 16px;
  background-color: ;
}

.code{
  font-size: 19px;
  padding: 10px 30px;
  margin:10px 0;
  margin-left: 60px;
  background-color: lightgrey;
}
